body{
    background-image: url("Debsubh3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    }

    th {
        background-color: #4CAF50;
        color: white; 
      }
      
      tr:nth-child(even) {
        background-color: #f2f2f2; 
      }

      tr:nth-child(odd) {
        color:goldenrod ; 
      }
      
      tr:hover {
        background-color: #ddd;
      }
    